@charset "utf-8";

html {
  height: 100%
}

body {
  
  background-color: #ccb592;
  flex-direction: column;
  color: rgb(6, 31, 1);
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 1em;
  line-height: 135%;
}
 /* Ссылки */
 .lin:hover { color:rgb(212, 27, 98);} 
 a:visited { color:rgb(164, 182, 1);}
 a:link { color: rgb(99, 1, 1);}

/* Шапка */
img.head_img
{
  float:left;
  width: 160px;
  height: 105px;
}
.hat {
  display: flex;
  flex-direction: row;
} 



/* Таблица */
tr:hover {background-color: #16d0ff;}
tr,
td {
  border: 3px solid rgb(255, 255, 255);
  text-align: center;
}

.chet {
  background: #b292cc;
}

.nechet {
  background: #79cf8f;
}
 /* Другое */
.forms, #table, #links, header, nav, footer 
{
  background-color: rgb(214, 144, 38); 
  margin-top:10px;
}

article{
  display:flex;
  flex-direction: column;
}
/*#table
{
  order: 1;
}*/


@media screen and (min-width: 800px) {

  .forms, #table, #links, nav {
    background-color: rgb(243, 213, 115);
    max-width: 960px;
    width: 100%;
  }

  a:visited { color:rgb(190, 0, 117);}

  header #img {
    /*Стили для шапки*/
    
    font-size: 12px;
    max-width: 960px;
    width: 100%;
    
  }

  /* Меню */


  h2 {
    color: red;
  }
/* Таблица */
  table {
    border: 5px solid rgb(255, 255, 255);
    border-collapse: collapse;
  }
   #table
{
  order:0;
}
  tr, td {
    border: 3px solid rgb(255, 255, 255);
    text-align: center;
  }

  .chet {
    background: #ebfc9e;
  }

  .nechet {
    background: #dda654;
  }

  
  

}